package tests.helpers;

import java.util.HashMap;
import java.util.Map;
import ${astPackageName}.*;
import ${astPackageName}.${treePackageName}.*;

public class PseudoProgramAsts {
  private static Map<String, $astClassName> pseudoAsts = new HashMap<>();
  static {
    pseudoAsts.put("int", new IntTypeTree());
    pseudoAsts.put("<int>", new IntLitTree(PseudoProgramTokens.getTestToken("<int>")));
    pseudoAsts.put("boolean", new BoolTypeTree());
    pseudoAsts.put("<boolean>", new IntLitTree(PseudoProgramTokens.getTestToken("<boolean>")));

    // Add new types here for current semester
    pseudoAsts.put("char", new CharTypeTree());
    pseudoAsts.put("<char>", new CharLitTree(PseudoProgramTokens.getTestToken("<char>")));
    pseudoAsts.put("hex", new HexTypeTree());
    pseudoAsts.put("<hex>", new HexLitTree(PseudoProgramTokens.getTestToken("<hex>")));
  }

  public static AST get(String typeString) {
    return pseudoAsts.get(typeString);
  }
}
