package tests.helpers;

import java.util.ArrayList;
import java.util.List;

import ${lexerPackageName}.ILexer;
import ${lexerPackageName}.${daoPackageName}.Token;
import ${lexerPackageName}.exceptions.${lexicalExceptionName};

public class TestLexer implements ILexer {
    private List<Token> tokens;
    private int index;

    public TestLexer() {
        tokens = new ArrayList<>();
        index = 0;
    }

    public TestLexer(List<Token> tokens) {
        this.tokens = tokens;
        index = 0;
    }

    public void addToken(Token token) {
        tokens.add(token);
    }

    @Override
    public Token nextToken() throws $lexicalExceptionName {
        if (index == tokens.size()) {
            return ${tokenKindClass}.EOF;
        } else {
            return tokens.get(index++);
        }
    }

    @Override
    public Token anonymousIdentifierToken(String identifier) {
        throw new UnsupportedOperationException("Unimplemented method 'anonymousIdentifierToken'");
    }

}
